<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="quizService" class="ru.otus.quiz.service.QuizServiceImpl">
        <constructor-arg name="partyService" ref="partyService"></constructor-arg>
        <constructor-arg name="questionService" ref="questionService"></constructor-arg>
        <constructor-arg name="interactionService" ref="interactionService"></constructor-arg>
    </bean>

    <bean name="partyService" class="ru.otus.quiz.service.PartyServiceImpl">
        <constructor-arg name="interactionService" ref="interactionService"></constructor-arg>
    </bean>

    <bean name="questionService" class="ru.otus.quiz.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao"></constructor-arg>
    </bean>

    <bean name="questionDao" class="ru.otus.quiz.dao.QuestionDaoCsv">
        <constructor-arg name="fileName" value="questions.csv"></constructor-arg>
    </bean>

    <bean name="interactionService" class="ru.otus.quiz.service.InteractionServiceImpl"></bean>

</beans>
